/* styles.css */


/* possible palette1
* #911104 dark red
* #CE0D0E bright red
* #294163 dark blue
* #5889AA light blue
* #D1C6C4 silver #ece8e7 adjusted silver

* possible palette2
* #6B212c berry red
* #685652 light brown
* #DCE0E8 snowflake
* #8EA1AE light blue
* #27363F dark blue
*/

* {
    padding: 0;
    margin: 0;
}

body {
  font-family: sans-serif;
  padding: 1rem;
}

.gameboards-container {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-top: 2rem;
}

.board-wrapper {
  display: inline-block;
  margin: 0 1rem;
}

.column-labels {
  padding-left: 0;
  user-select: none;
  font-weight: bold;
  display: grid;
  grid-template-columns: 30px repeat(10, 30px);
  column-gap: 0.3px;
  padding-left: 10px;
}

.row-labels {
  padding: 0;
  user-select: none;
  font-weight: bold;
  display: grid;
  grid-template-rows: repeat(10, 30px);
  margin-right: 2px;
  row-gap: 0.3px;
  padding-top: 10px;
}

.player-board {
  display: grid;
  grid-template-columns: repeat(10, 30px);
  grid-template-rows: repeat(10, 30px);
  border: 2px solid #333;
  padding: 0.5rem;
}

.grid-cell {
  width: 30px;
  height: 30px;
  background-color: lightblue;
  border: 1px solid #ccc;
  box-sizing: border-box; 
}

.ship {
  background-color: #294163;
}
.hit {
  background-color: #911104;
}
.miss {
  background-color: #5889AA;
}
.empty {
  background-color: #ece8e7;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.button {
  background-color: #5889AA;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  padding: 8px;
  margin: 4px;
  transition-duration: 0.4s;
  cursor: pointer;
  box-shadow: 0 3px #999;
}

.button:hover {
  background-color: #294163; 
  color: #ece8e7;
}

.button:active {
  background-color: #294163;
  box-shadow: 0 5px #666;
  transform: translateY(1px);
}