/* styles.css */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;300;400;500;700&display=swap');

* {
  padding: 0;
  margin: 0;
  color: #2F2C2C;
  font-family: 'Roboto Mono', monospace;
}

body {
  padding: 1rem;
  background-color: #D10F0D;
}

.board-wrapper {
  display: inline-block;
  margin: 0 1rem;
}

.column-labels, .row-labels {
  user-select: none;
  font-weight: bold;
  display: grid;
}

.column-labels {
  padding-left: 0;
  grid-template-columns: 30px repeat(10, 30px);
  column-gap: 0.3px;
  padding-left: 12px;
}

.row-labels {
  padding: 0;
  grid-template-rows: repeat(10, 30px);
  margin-right: 2px;
  row-gap: 0.3px;
  padding-top: 15px;
  padding-right: 5px;
}

.player-board {
  display: grid;
  border-radius: 4px;
  grid-template-columns: repeat(10, 30px);
  grid-template-rows: repeat(10, 30px);
  border: 2px solid #333;
  padding: 0.5rem;
}

.grid-cell {
  width: 30px;
  height: 30px;
  background-color: lightblue; /* fallback color */
  border: 1px solid #C7BBBA;
  box-sizing: border-box; 
}

.grid-cell:hover {
  filter: brightness(50%);
}

.corner-cell {
  width: 30px;
  height: 30px;
}

.ship {
  background-color: #294163;
}

.hit {
  background-color: #911104;
}

.miss {
  background-color: #918988;
}

.empty {
  background-color: #D8C9C6;
}

.home-container, .pass-container, .game-container {
  background-color: #E9DDDB;
  font-size: 18px;
  text-align: center;
  border-radius: 10px;
  margin: 5vh auto 0 auto;
  width: 900px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.game-container {
  height: 800px;
  position: relative;
}

.home-container, .pass-container {
  padding-top: 250px;
  height: 550px;
}

.turn-container {
  padding: 40px;
}

.title1 {
  font-size: 25px;
}

.title2, .player-name {
  font-size: 50px;
  font-style: italic;
  font-weight: bold;
}

.temp-button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.player-button-container {
  margin: 20px;
}

.button, .dark-button {
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  height: 40px;
  width: 250px;
  margin: 4px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button {
  background-color: #5889AA;
}

.button:hover, .dark-button:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.dark-button {
  background-color: #041E43;
  color: #E9DDDB;
}

.main-score-container, .turn-container, .pass-container {
  text-align: center;
}

.main-score-container {
  display: flex;
  justify-content: space-around;
  font-size: 30px;
  text-align: center;
  position: absolute;
  bottom: 180px; /* fixed distance from bottom of game container */
  left: 0;
  right: 0;
}

.dot {
  margin-top: 25px;
}

.continue-button {
  margin-top: 45px;
}